body {
  margin: 0;
  background: #0b1020;
  color: white;
  font-family: Arial;
  overflow: hidden;
}

#stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 900px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.house {
  width: 130px;
  height: 130px;
  margin: 20px auto;
  border-radius: 20px;
  background: linear-gradient(45deg, #ffd27a, #ff9f1c);
  transition: all 0.2s;
}

.house.active {
  transform: scale(1.2);
  box-shadow: 0 0 50px rgba(255,210,122,0.9);
}

.card {
  background: #111735;
  padding: 20px;
  border-radius: 16px;
  margin-top: 15px;
}

button {
  padding: 14px;
  margin: 8px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  background: #ffd27a;
}

.big {
  font-size: 28px;
}